.about {
  width: 100%;
  min-height: 100px;
  margin-top: 0;
}

.about_container {
  width: 90%;
  min-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.about-title {
  max-width: 700px;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: .3px;
  margin-bottom: 30px;
  margin-top: 100px;
}

.about-text {
  max-width: 700px;
  font-size: 16px;
  font-family: 'Nunito', 'sans-serif';
  line-height: 24px;
  letter-spacing: .08px;
  margin-top: 0;
  margin-bottom: 30px;
}

.about-img {
  margin-bottom: 100px;
}