.header {
  width: 100%;
  min-height: 75px;
  background: rgba(255, 255, 255, .5);
  position: fixed;
}

.header_container {
  width: 90%;
  min-height: 75px;
  display: flex;
  align-items: center;
  margin: auto;
}

.header_left {
  width: 30%;
}

.header_right {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.header_nav-link {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  transition: .2s;
}

@media(min-width: 850px) and (max-width: 1000px) {
  .header_left {
    width: 20%;
  }
  .header_right {
    width: 80%;
  }
}

@media(min-width: 320px) and (max-width: 849px) {
  .header_container {
    flex-direction: column;
    text-align: center;
  }
  .header_left {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .header_right {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
}

