.skills {
  width: 100%;
  min-height: 550px;
}

.skills_container {
  width: 100%;
  min-height: 550px;
  display: flex;
  align-items: center;
}

.skills_left {
  width: 50%;
  min-height: 550px;
}

.skills_left_container {
  width: 90%;
  min-height: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.skills-title {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: .3px;
}

.skills_posts {
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  text-align: left;
  overflow-y: auto;
}

.skills_post {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-right: 20px;
}

.skills_post-text {
  width: 100%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

.skills_post-text span {
  padding-left: 10px;
}

.skills_post_bar {
  width: 100%;
  height: 3px;
  background: #d8d8d8;
}

.skills_post_colorBar {
  height: 3px;
}

.skills_right {
  width: 50%;
  min-height: 550px;
}

@media(min-width: 320px) and (max-width: 1000px) {
  .skills_container {
    flex-direction: column-reverse;
  }
  .skills_left {
    width: 100%;
  }
  .skills_posts {
    min-height: 550px;
    overflow-y: hidden;
  }
  .skills_post {
    padding-right: 0;
  }
  .skills_right {
    width: 100%;
  }
}

@media(min-width: 320px) and (max-width: 550px) {
  .skills-title {
    font-size: 26px;
    margin-bottom: 0;
  }
  .skills_post-text {
    font-size: 12px;
  }
}